openapi: 3.0.3
info:
  title: 'Mermab API - Banco de Alimentos'
  description: 'API para la gestión de bancos de alimentos. Maneja inventario, distribuciones, mermas, organizaciones, donantes y más.'
  version: 4.0.0
servers:
  -
    url: 'https://cloud.mermab.com'
tags:
  -
    name: Autenticación
    description: "\nEndpoints para autenticación y gestión de sesión."
  -
    name: Usuarios
    description: "\nGestión de usuarios del tenant."
  -
    name: 'Roles y Permisos'
    description: "\nGestión de roles y sus permisos asociados."
  -
    name: Donantes
    description: "\nGestión de donantes y sus estadísticas."
  -
    name: 'Sucursales de Donantes'
    description: "\nGestión de sucursales asociadas a donantes."
  -
    name: Organizaciones
    description: "\nGestión de organizaciones (comedores, instituciones)."
  -
    name: 'Categorías de Alimentos'
    description: "\nGestión de categorías para clasificar productos alimenticios."
  -
    name: 'Grupos Nutricionales'
    description: "\nGestión de grupos nutricionales para clasificación de productos."
  -
    name: 'Productos (Legacy)'
    description: ''
  -
    name: 'Productos Unificados'
    description: ''
  -
    name: 'Importación de Productos'
    description: "\nImportación masiva de productos."
  -
    name: Nutrición
    description: "\nEstadísticas y datos nutricionales."
  -
    name: Depósitos
    description: ''
  -
    name: Inventario
    description: ''
  -
    name: Distribuciones
    description: ''
  -
    name: 'Pagos de Distribuciones'
    description: ''
  -
    name: Pagos
    description: ''
  -
    name: Mermas
    description: ''
  -
    name: 'Postulaciones a Mermas'
    description: ''
  -
    name: 'Asignaciones de Mermas'
    description: ''
  -
    name: 'Zonas Geográficas'
    description: ''
  -
    name: Archivos
    description: ''
  -
    name: Reportes
    description: ''
  -
    name: 'Reportes de Mermas'
    description: ''
  -
    name: 'Estadísticas de Operaciones'
    description: ''
  -
    name: 'Analytics de Donantes'
    description: ''
  -
    name: Notificaciones
    description: ''
  -
    name: 'Portal Sucursal'
    description: ''
  -
    name: 'Portal Organización'
    description: ''
  -
    name: 'API Keys'
    description: "\nGestión de API keys para integraciones máquina-a-máquina (M2M).\nSolo accesible por administradores."
  -
    name: Sistema
    description: ''
  -
    name: 'Billing - Configuration'
    description: ''
  -
    name: 'Billing - Invoices'
    description: ''
  -
    name: 'Billing - Memberships'
    description: ''
  -
    name: 'Billing - Pricing Rules'
    description: ''
  -
    name: 'Billing - SMVM'
    description: "\nSalario Mínimo Vital y Móvil — tabla nacional sin tenant."
  -
    name: Compras
    description: ''
  -
    name: Donaciones
    description: ''
  -
    name: 'External - Ingesta de Donantes'
    description: ''
  -
    name: Familias
    description: ''
  -
    name: Interacciones
    description: ''
  -
    name: Kits
    description: ''
  -
    name: 'Organizaciones - Documentos'
    description: ''
  -
    name: 'Organizaciones - Ficha Social'
    description: ''
  -
    name: Otros
    description: ''
  -
    name: 'Portal Donante'
    description: ''
  -
    name: Productos
    description: ''
  -
    name: Programas
    description: ''
  -
    name: 'Public - Carta Compromiso'
    description: ''
  -
    name: 'Public - Renditions'
    description: ''
  -
    name: 'Requerimientos de Documentos'
    description: "\nGestión de requerimientos base de documentos (globales y por tipo de organización)."
  -
    name: 'Sucursales de Donantes - Contactos'
    description: "\nCRUD de contactos múltiples por sucursal de donante, con roles diferenciados."
  -
    name: 'Tareas Asíncronas'
    description: ''
  -
    name: 'Tenant - Configuration'
    description: ''
  -
    name: Trazabilidad
    description: ''
  -
    name: Voluntarios
    description: ''
  -
    name: Webhooks
    description: ''
  -
    name: 'Zonas comerciales de donantes'
    description: "\nAdministración de las zonas con las que una cadena agrupa sus sucursales. El\nalcance del gerente de zona (`donor_scope = 'zonas'`) se resuelve contra esto,\nasí que sin CRUD habría que zonificar por SQL.\n\n⚠️ **No son `GeographicZone`.** Esas son del banco y definen qué organización\npuede retirar de dónde. Estas son la geografía comercial de una cadena.\n\nTodo el grupo pasa por `requiere_esquema_zonas`, que devuelve 503 mientras la\nmigration de zonas no esté aplicada en la base."
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Obtén tu token via `POST /api/auth/login`. Envíalo como `Authorization: Bearer {token}`. Para integraciones M2M, usa el header `X-API-Key`.'
security:
  -
    default: []
paths:
  /api/auth/login:
    post:
      summary: 'Iniciar sesión'
      operationId: iniciarSesin
      description: 'Autentica al usuario con email y contraseña, retorna token de acceso.'
      parameters: []
      responses: {  }
      tags:
        - Autenticación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Email del usuario.'
                  example: admin@banco.org
                password:
                  type: string
                  description: Contraseña.
                  example: secret123
              required:
                - email
                - password
      security: []
  /api/auth/logout:
    post:
      summary: 'Cerrar sesión'
      operationId: cerrarSesin
      description: 'Revoca el token de acceso actual.'
      parameters: []
      responses: {  }
      tags:
        - Autenticación
  /api/auth/me:
    get:
      summary: 'Obtener usuario autenticado'
      operationId: obtenerUsuarioAutenticado
      description: 'Retorna los datos del usuario actual con roles, permisos y tenant.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Autenticación
  /api/auth/profile:
    put:
      summary: 'Actualizar perfil'
      operationId: actualizarPerfil
      description: 'Actualiza los datos del perfil del usuario autenticado.'
      parameters: []
      responses: {  }
      tags:
        - Autenticación
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: 'Must be at least 2 characters. Must not be greater than 100 characters.'
                  example: b
                last_name:
                  type: string
                  description: 'Must be at least 2 characters. Must not be greater than 100 characters.'
                  example: 'n'
                phone:
                  type: string
                  description: 'Must match the regex /^[\d\s\+\-\(\)]{6,20}$/. Must not be greater than 20 characters.'
                  example: gzmiyvdljnikhway
                  nullable: true
                avatar_url:
                  type: string
                  description: 'Must be a valid URL. Must not be greater than 500 characters.'
                  example: 'http://www.romaguera.net/aut-adipisci-quidem-nostrum-qui-commodi-incidunt-iure'
                  nullable: true
                preferences:
                  type: object
                  description: ''
                  example: null
                  properties: {  }
  /api/auth/password:
    put:
      summary: 'Cambiar contraseña'
      operationId: cambiarContrasea
      description: 'Cambia la contraseña del usuario autenticado.'
      parameters: []
      responses: {  }
      tags:
        - Autenticación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: ''
                  example: architecto
                new_password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: ngzmiyvdljnikhwaykcmyuwpwl
              required:
                - current_password
                - new_password
  /api/auth/refresh:
    post:
      summary: 'Renovar token'
      operationId: renovarToken
      description: 'Elimina el token actual y genera uno nuevo.'
      parameters: []
      responses: {  }
      tags:
        - Autenticación
  /api/users:
    get:
      summary: 'Listar usuarios'
      operationId: listarUsuarios
      description: 'Retorna lista paginada de usuarios del tenant.'
      parameters:
        -
          in: query
          name: search
          description: 'Buscar por nombre o email.'
          example: Juan
          required: false
          schema:
            type: string
            description: 'Buscar por nombre o email.'
            example: Juan
        -
          in: query
          name: role
          description: 'Filtrar por nombre de rol.'
          example: admin
          required: false
          schema:
            type: string
            description: 'Filtrar por nombre de rol.'
            example: admin
        -
          in: query
          name: is_active
          description: 'Filtrar por estado activo/inactivo.'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Filtrar por estado activo/inactivo.'
            example: true
        -
          in: query
          name: per_page
          description: 'Resultados por página.'
          example: 25
          required: false
          schema:
            type: integer
            description: 'Resultados por página.'
            example: 25
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Usuarios
    post:
      summary: 'Crear usuario'
      operationId: crearUsuario
      description: 'Crea un nuevo usuario en el tenant actual.'
      parameters: []
      responses: {  }
      tags:
        - Usuarios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Email (único).'
                  example: nuevo@banco.org
                password:
                  type: string
                  description: Contraseña.
                  example: secret123
                first_name:
                  type: string
                  description: Nombre.
                  example: Ana
                last_name:
                  type: string
                  description: Apellido.
                  example: García
                phone:
                  type: string
                  description: Teléfono.
                  example: null
                  nullable: true
                avatar_url:
                  type: string
                  description: 'Must be a valid URL. Must not be greater than 500 characters.'
                  example: 'http://leffler.com/'
                  nullable: true
                is_active:
                  type: boolean
                  description: Activo.
                  example: true
                roles:
                  type: array
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the roles table.'
                  example:
                    - c71cb930-01f3-381c-9172-e1c70e63388f
                  items:
                    type: string
                donor_id:
                  type: string
                  description: 'Must be a valid UUID.'
                  example: 502eabbf-311f-3542-a47b-b2a14f5de904
                  nullable: true
                donor_scope:
                  type: string
                  description: ''
                  example: todas
                  enum:
                    - todas
                    - zonas
                    - sucursales
                  nullable: true
                donor_branch_id:
                  type: string
                  description: 'Must be a valid UUID.'
                  example: c70690f4-50e8-3200-abfa-73718cbd9b2a
                  nullable: true
                organization_id:
                  type: string
                  description: 'Must be a valid UUID.'
                  example: f2726f3d-9044-3663-bede-2a0f37053879
                  nullable: true
                branch_ids:
                  type: array
                  description: 'Must be a valid UUID.'
                  example:
                    - e660ec64-aeea-3ded-bfe4-fb1f468259dc
                  items:
                    type: string
                zone_ids:
                  type: array
                  description: 'Must be a valid UUID.'
                  example:
                    - 9e13baad-9e20-392f-94ab-6047f7ff6a83
                  items:
                    type: string
                role:
                  type: string
                  description: 'Rol Spatie a asignar.'
                  example: Operador
              required:
                - email
                - password
                - first_name
                - last_name
  '/api/users/{user_id}':
    get:
      summary: 'Ver usuario'
      operationId: verUsuario
      description: 'Retorna los datos de un usuario específico con sus roles y permisos.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Usuarios
    put:
      summary: 'Actualizar usuario'
      operationId: actualizarUsuario
      description: 'Actualiza los datos y roles de un usuario.'
      parameters: []
      responses: {  }
      tags:
        - Usuarios
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: gbailey@example.net
                password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: '+-0pBNvYgxwmi/#iw'
                first_name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: u
                last_name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: w
                phone:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: pwlvqwrsitcpscql
                  nullable: true
                avatar_url:
                  type: string
                  description: 'Must be a valid URL. Must not be greater than 500 characters.'
                  example: 'http://leffler.com/'
                  nullable: true
                is_active:
                  type: boolean
                  description: ''
                  example: false
                is_verified:
                  type: boolean
                  description: ''
                  example: false
                roles:
                  type: array
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the roles table.'
                  example:
                    - 1937113a-b0a2-3b03-925a-3163292463db
                  items:
                    type: string
                donor_id:
                  type: string
                  description: 'Must be a valid UUID.'
                  example: b9567dd8-446c-3a6f-8f1a-54673f212a38
                  nullable: true
                donor_scope:
                  type: string
                  description: ''
                  example: todas
                  enum:
                    - todas
                    - zonas
                    - sucursales
                  nullable: true
                donor_branch_id:
                  type: string
                  description: 'Must be a valid UUID.'
                  example: 46779b45-df80-30c6-ad3c-320d08b0f185
                  nullable: true
                organization_id:
                  type: string
                  description: 'Must be a valid UUID.'
                  example: b1acb002-2839-312b-9bbc-3ecc71af48bf
                  nullable: true
                branch_ids:
                  type: array
                  description: 'Must be a valid UUID.'
                  example:
                    - 5f936efd-e185-3891-a84d-e9ea08ed9d45
                  items:
                    type: string
                zone_ids:
                  type: array
                  description: 'Must be a valid UUID.'
                  example:
                    - 0e2442a9-fa81-3115-8890-8b00ec9cd683
                  items:
                    type: string
    delete:
      summary: 'Eliminar usuario'
      operationId: eliminarUsuario
      description: 'Elimina un usuario (soft delete) y revoca sus tokens.'
      parameters: []
      responses: {  }
      tags:
        - Usuarios
    parameters:
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: 00000000-0000-0000-0000-000000000011
        required: true
        schema:
          type: string
      -
        in: path
        name: user
        description: 'ID del usuario.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/users/{user_id}/toggle-active':
    put:
      summary: 'Activar/desactivar usuario'
      operationId: activardesactivarUsuario
      description: 'Alterna el estado activo del usuario. Si se desactiva, revoca sus tokens.'
      parameters: []
      responses: {  }
      tags:
        - Usuarios
    parameters:
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: 00000000-0000-0000-0000-000000000011
        required: true
        schema:
          type: string
      -
        in: path
        name: user
        description: 'ID del usuario.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/users/{user_id}/reset-password':
    put:
      summary: 'Restablecer contraseña'
      operationId: restablecerContrasea
      description: 'Restablece la contraseña de un usuario y revoca sus tokens.'
      parameters: []
      responses: {  }
      tags:
        - Usuarios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                new_password:
                  type: string
                  description: 'Must be at least 8 characters.'
                  example: bngzmiyvdljnikhwaykcmyuwpw
              required:
                - new_password
    parameters:
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: 00000000-0000-0000-0000-000000000011
        required: true
        schema:
          type: string
      -
        in: path
        name: user
        description: 'ID del usuario.'
        example: 1
        required: true
        schema:
          type: integer
  /api/roles:
    get:
      summary: 'Listar roles'
      operationId: listarRoles
      description: 'Retorna lista de roles del tenant, paginada o completa.'
      parameters:
        -
          in: query
          name: search
          description: 'Buscar por nombre de rol.'
          example: admin
          required: false
          schema:
            type: string
            description: 'Buscar por nombre de rol.'
            example: admin
        -
          in: query
          name: all
          description: 'Retornar todos sin paginar.'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Retornar todos sin paginar.'
            example: true
        -
          in: query
          name: per_page
          description: 'Resultados por página.'
          example: 25
          required: false
          schema:
            type: integer
            description: 'Resultados por página.'
            example: 25
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - 'Roles y Permisos'
    post:
      summary: 'Crear rol'
      operationId: crearRol
      description: 'Crea un nuevo rol con permisos asignados.'
      parameters: []
      responses: {  }
      tags:
        - 'Roles y Permisos'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Nombre del rol.'
                  example: Coordinador
                description:
                  type: string
                  description: Descripción.
                  example: null
                  nullable: true
                permissions:
                  type: array
                  description: 'Permisos asignados al rol.'
                  example:
                    - distributions.create
                    - mermas.view
                  items:
                    type: string
              required:
                - name
  '/api/roles/{role_id}':
    get:
      summary: 'Ver rol'
      operationId: verRol
      description: 'Retorna un rol con sus permisos y cantidad de usuarios asignados.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - 'Roles y Permisos'
    put:
      summary: 'Actualizar rol'
      operationId: actualizarRol
      description: 'Actualiza nombre, descripción y permisos del rol. No permite modificar roles de sistema.'
      parameters: []
      responses: {  }
      tags:
        - 'Roles y Permisos'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: b
                description:
                  type: string
                  description: 'Must not be greater than 500 characters.'
                  example: 'Et animi quos velit et fugiat.'
                  nullable: true
                permissions:
                  type: array
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the permissions table.'
                  example:
                    - 5707ca55-f609-3528-be8b-1baeaee1567e
                  items:
                    type: string
    delete:
      summary: 'Eliminar rol'
      operationId: eliminarRol
      description: 'Elimina un rol (soft delete). No permite eliminar roles de sistema o con usuarios asignados.'
      parameters: []
      responses: {  }
      tags:
        - 'Roles y Permisos'
    parameters:
      -
        in: path
        name: role_id
        description: 'The ID of the role.'
        example: 00000000-0000-0000-0000-000000000010
        required: true
        schema:
          type: string
      -
        in: path
        name: role
        description: 'ID del rol.'
        example: 1
        required: true
        schema:
          type: integer
  /api/permissions:
    get:
      summary: 'Listar permisos disponibles'
      operationId: listarPermisosDisponibles
      description: ''
      parameters:
        -
          in: query
          name: module
          description: 'Filtrar por módulo.'
          example: mermas
          required: false
          schema:
            type: string
            description: 'Filtrar por módulo.'
            example: mermas
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - 'Roles y Permisos'
  /api/donors:
    get:
      summary: 'Listar donantes'
      operationId: listarDonantes
      description: 'Retorna lista paginada de donantes del tenant.'
      parameters:
        -
          in: query
          name: search
          description: 'Buscar por nombre, razón social o CUIT del donante, o por nombre/código/contacto de sus sucursales (la respuesta incluye `matched_via` cuando el match fue por sucursal o contacto).'
          example: Carrefour
          required: false
          schema:
            type: string
            description: 'Buscar por nombre, razón social o CUIT del donante, o por nombre/código/contacto de sus sucursales (la respuesta incluye `matched_via` cuando el match fue por sucursal o contacto).'
            example: Carrefour
        -
          in: query
          name: parent_only
          description: 'Solo donantes padre (sin parent_donor_id).'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Solo donantes padre (sin parent_donor_id).'
            example: true
        -
          in: query
          name: parent_id
          description: 'Hijos de un donante padre (UUID).'
          example: null
          required: false
          schema:
            type: string
            description: 'Hijos de un donante padre (UUID).'
            example: null
        -
          in: query
          name: type
          description: 'Filtrar por tipo de donante.'
          example: empresa
          required: false
          schema:
            type: string
            description: 'Filtrar por tipo de donante.'
            example: empresa
        -
          in: query
          name: level
          description: 'Filtrar por nivel del donante.'
          example: bronce
          required: false
          schema:
            type: string
            description: 'Filtrar por nivel del donante.'
            example: bronce
        -
          in: query
          name: is_active
          description: 'Filtrar por estado activo/inactivo.'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Filtrar por estado activo/inactivo.'
            example: true
        -
          in: query
          name: sort_by
          description: 'Ordenar por campo. Use "donations" para ordenar por kg donados.'
          example: donations
          required: false
          schema:
            type: string
            description: 'Ordenar por campo. Use "donations" para ordenar por kg donados.'
            example: donations
        -
          in: query
          name: per_page
          description: 'Resultados por página.'
          example: 25
          required: false
          schema:
            type: integer
            description: 'Resultados por página.'
            example: 25
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Donantes
    post:
      summary: 'Crear donante'
      operationId: crearDonante
      description: 'Registra un nuevo donante en el sistema.'
      parameters: []
      responses: {  }
      tags:
        - Donantes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_donor_id:
                  type: string
                  description: 'UUID del donante padre (para sucursales).'
                  example: null
                  nullable: true
                name:
                  type: string
                  description: Nombre.
                  example: 'La Anónima'
                legal_name:
                  type: string
                  description: 'Razón social.'
                  example: null
                  nullable: true
                tax_id:
                  type: string
                  description: CUIT.
                  example: 30-50000000-0
                  nullable: true
                donor_type:
                  type: string
                  description: 'Tipo: supermercado, restaurant, panaderia, verduleria, productor, individual, corporativo, proveedor, mayorista, distribuidor o institucion_educativa.'
                  example: supermercado
                segment:
                  type: string
                  description: 'Segmento: productores_empacadoras, organismos_estado, mercados_concentradores, industria_supermercados_retail, minoristas_verdulerias, bancos_alimentos, hoteleria_gastronomia, distribuidoras u otras_ong.'
                  example: industria_supermercados_retail
                  nullable: true
                email:
                  type: string
                  description: Email.
                  example: null
                  nullable: true
                phone:
                  type: string
                  description: Teléfono.
                  example: null
                  nullable: true
                website:
                  type: string
                  description: 'Sitio web.'
                  example: null
                  nullable: true
                logo_url:
                  type: string
                  description: 'Must be a valid URL. Must not be greater than 500 characters.'
                  example: 'http://leuschke.com/laboriosam-praesentium-quis-adipisci-molestias-fugit-deleniti-distinctio'
                  nullable: true
                description:
                  type: string
                  description: '⚠️ Se valida pero NO se persiste (bat_donors no tiene la columna; siempre vuelve null).'
                  example: null
                  nullable: true
                preferred_pickup_days:
                  type: array
                  description: ''
                  example:
                    - miercoles
                  items:
                    type: string
                    enum:
                      - lunes
                      - martes
                      - miercoles
                      - jueves
                      - viernes
                      - sabado
                      - domingo
                preferred_pickup_time_start:
                  type: string
                  description: 'Must be a valid date in the format <code>H:i</code>.'
                  example: '09:32'
                  nullable: true
                preferred_pickup_time_end:
                  type: string
                  description: 'Must be a valid date in the format <code>H:i</code>. Must be a date after <code>preferred_pickup_time_start</code>.'
                  example: '2052-10-17'
                  nullable: true
                tax_benefits_enabled:
                  type: boolean
                  description: 'Si aplica beneficios fiscales.'
                  example: false
                contact_name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: g
                  nullable: true
                contact_email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: rowan.gulgowski@example.com
                  nullable: true
                contact_phone:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: dljnikhwaykcmyuw
                  nullable: true
                default_payment_method:
                  type: string
                  description: 'Método de pago (proveedores): cash, transferencia o cheque.'
                  example: transferencia
                  nullable: true
                payment_terms_days:
                  type: integer
                  description: 'Must be at least 0. Must not be greater than 365.'
                  example: 8
                  nullable: true
                bank_account:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: l
                  nullable: true
                bank_name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: v
                  nullable: true
              required:
                - name
                - donor_type
  '/api/donors/{donor_id}':
    get:
      summary: 'Ver donante'
      operationId: verDonante
      description: 'Retorna los datos de un donante con sus sucursales y mermas recientes.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Donantes
    put:
      summary: 'Actualizar donante'
      operationId: actualizarDonante
      description: 'Actualiza los datos de un donante existente.'
      parameters: []
      responses: {  }
      tags:
        - Donantes
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent_donor_id:
                  type: string
                  description: 'Must be a valid UUID.'
                  example: 6ff8f7f6-1eb3-3525-be4a-3932c805afed
                  nullable: true
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: g
                legal_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: z
                  nullable: true
                tax_id:
                  type: string
                  description: 'Must match the regex /^\d{2}-?\d{8}-?\d{1}$/. Must not be greater than 20 characters.'
                  example: miyvdljnikhwaykc
                  nullable: true
                donor_type:
                  type: string
                  description: ''
                  example: supermercado
                  enum:
                    - supermercado
                    - restaurant
                    - panaderia
                    - verduleria
                    - productor
                    - individual
                    - corporativo
                    - institucion_educativa
                    - proveedor
                    - mayorista
                    - distribuidor
                segment:
                  type: string
                  description: ''
                  example: hoteleria_gastronomia
                  enum:
                    - productores_empacadoras
                    - organismos_estado
                    - mercados_concentradores
                    - industria_supermercados_retail
                    - minoristas_verdulerias
                    - bancos_alimentos
                    - hoteleria_gastronomia
                    - distribuidoras
                    - otras_ong
                  nullable: true
                default_payment_method:
                  type: string
                  description: ''
                  example: cash
                  enum:
                    - cash
                    - transferencia
                    - cheque
                  nullable: true
                payment_terms_days:
                  type: integer
                  description: 'Must be at least 0. Must not be greater than 365.'
                  example: 25
                  nullable: true
                bank_account:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: p
                  nullable: true
                bank_name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: w
                  nullable: true
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: emelie.baumbach@example.net
                  nullable: true
                phone:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: sitcpscqldzsnrwt
                  nullable: true
                website:
                  type: string
                  description: 'Must be a valid URL. Must not be greater than 255 characters.'
                  example: u
                  nullable: true
                logo_url:
                  type: string
                  description: 'Must be a valid URL. Must not be greater than 500 characters.'
                  example: 'http://raynor.org/molestias-fugit-deleniti-distinctio-eum-doloremque-id'
                  nullable: true
                description:
                  type: string
                  description: 'Must not be greater than 1000 characters.'
                  example: 'Libero aliquam veniam corporis dolorem mollitia deleniti.'
                  nullable: true
                preferred_pickup_days:
                  type: array
                  description: ''
                  example:
                    - lunes
                  items:
                    type: string
                    enum:
                      - lunes
                      - martes
                      - miercoles
                      - jueves
                      - viernes
                      - sabado
                      - domingo
                preferred_pickup_time_start:
                  type: string
                  description: 'Must be a valid date in the format <code>H:i</code>.'
                  example: '09:32'
                  nullable: true
                preferred_pickup_time_end:
                  type: string
                  description: 'Must be a valid date in the format <code>H:i</code>. Must be a date after <code>preferred_pickup_time_start</code>.'
                  example: '2052-10-17'
                  nullable: true
                tax_benefits_enabled:
                  type: boolean
                  description: ''
                  example: false
                is_active:
                  type: boolean
                  description: ''
                  example: true
                address:
                  type: object
                  description: ''
                  example: null
                  properties:
                    street:
                      type: string
                      description: 'This field is required when <code>address</code> is present. Must not be greater than 255 characters.'
                      example: z
                    number:
                      type: string
                      description: 'Must not be greater than 20 characters.'
                      example: miyvdljnikhwaykc
                      nullable: true
                    floor:
                      type: string
                      description: 'Must not be greater than 10 characters.'
                      example: myuwpw
                      nullable: true
                    apartment:
                      type: string
                      description: 'Must not be greater than 10 characters.'
                      example: lvqwrs
                      nullable: true
                    city:
                      type: string
                      description: 'This field is required when <code>address</code> is present. Must not be greater than 100 characters.'
                      example: i
                    state:
                      type: string
                      description: 'This field is required when <code>address</code> is present. Must not be greater than 100 characters.'
                      example: t
                    postal_code:
                      type: string
                      description: 'Must not be greater than 20 characters.'
                      example: cpscqldzsnrwtujw
                      nullable: true
                    country:
                      type: string
                      description: 'Must not be greater than 100 characters.'
                      example: v
                      nullable: true
                    latitude:
                      type: number
                      description: 'Must be between -90 and 90.'
                      example: -89
                      nullable: true
                    longitude:
                      type: number
                      description: 'Must be between -180 and 180.'
                      example: -179
                      nullable: true
                  nullable: true
    delete:
      summary: 'Eliminar donante'
      operationId: eliminarDonante
      description: 'Elimina un donante (soft delete). No permite eliminar donantes con mermas activas.'
      parameters: []
      responses: {  }
      tags:
        - Donantes
    parameters:
      -
        in: path
        name: donor_id
        description: 'The ID of the donor.'
        example: ded4ff7c-873b-46ac-b330-4f7c9506c21d
        required: true
        schema:
          type: string
      -
        in: path
        name: donor
        description: 'UUID del donante.'
        example: 9c1f2e3d-4b5a-6c7d-8e9f-0a1b2c3d4e5f
        required: true
        schema:
          type: string
  '/api/donors/{donor_id}/stats':
    get:
      summary: 'Estadísticas del donante'
      operationId: estadsticasDelDonante
      description: 'Retorna estadísticas de donaciones, mermas por estado y donaciones mensuales.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Donantes
    parameters:
      -
        in: path
        name: donor_id
        description: 'The ID of the donor.'
        example: ded4ff7c-873b-46ac-b330-4f7c9506c21d
        required: true
        schema:
          type: string
      -
        in: path
        name: donor
        description: 'UUID del donante.'
        example: 9c1f2e3d-4b5a-6c7d-8e9f-0a1b2c3d4e5f
        required: true
        schema:
          type: string
  '/api/donors/{donor_id}/volunteer-stats':
    get:
      summary: 'Estadísticas de voluntariado del donante'
      operationId: estadsticasDeVoluntariadoDelDonante
      description: 'Resumen de voluntariado aportado por este donante (recolección + eventos).'
      parameters:
        -
          in: query
          name: year
          description: 'Año (2000-2100, default: año actual).'
          example: 2026
          required: false
          schema:
            type: integer
            description: 'Año (2000-2100, default: año actual).'
            example: 2026
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Donantes
    parameters:
      -
        in: path
        name: donor_id
        description: 'The ID of the donor.'
        example: ded4ff7c-873b-46ac-b330-4f7c9506c21d
        required: true
        schema:
          type: string
      -
        in: path
        name: donor
        description: 'UUID del donante.'
        example: null
        required: true
        schema:
          type: string
  '/api/donors/{donor_id}/branches':
    get:
      summary: 'Listar sucursales'
      operationId: listarSucursales
      description: 'Retorna las sucursales de un donante con sus direcciones.'
      parameters:
        -
          in: query
          name: search
          description: 'Buscar por nombre o código.'
          example: Central
          required: false
          schema:
            type: string
            description: 'Buscar por nombre o código.'
            example: Central
        -
          in: query
          name: is_active
          description: 'Filtrar por estado activo/inactivo.'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Filtrar por estado activo/inactivo.'
            example: true
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - 'Sucursales de Donantes'
    post:
      summary: 'Crear sucursal'
      operationId: crearSucursal
      description: 'Crea una nueva sucursal para un donante con dirección.'
      parameters: []
      responses: {  }
      tags:
        - 'Sucursales de Donantes'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
                code:
                  type: string
                  description: 'Must not be greater than 50 characters.'
                  example: 'n'
                  nullable: true
                is_primary:
                  type: boolean
                  description: ''
                  example: true
                contact_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: z
                  nullable: true
                contact_phone:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: miyvdljnikhwaykc
                  nullable: true
                contact_email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: antonio24@example.net
                  nullable: true
                contact_position:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: w
                  nullable: true
                operating_hours:
                  type: object
                  description: ''
                  example: null
                  properties: {  }
                  nullable: true
                zone:
                  type: string
                  description: "`zone` es la columna real; `geographic_zone` queda como alias legacy\n(antes se validaba pero el mass-assignment lo descartaba en silencio). Must not be greater than 100 characters."
                  example: l
                  nullable: true
                geographic_zone:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: v
                  nullable: true
                address:
                  type: object
                  description: 'Address fields.'
                  example: []
                  properties:
                    street:
                      type: string
                      description: 'Must not be greater than 255 characters.'
                      example: b
                    street_number:
                      type: string
                      description: "`street_number` es la columna real; `number` queda como alias legacy\n(antes se validaba pero Address::$fillable lo descartaba en silencio). Must not be greater than 20 characters."
                      example: ngzmiyvdljnikhwa
                      nullable: true
                    number:
                      type: string
                      description: 'Must not be greater than 20 characters.'
                      example: ykcmyuwpwlvqwrsi
                      nullable: true
                    floor:
                      type: string
                      description: 'Must not be greater than 10 characters.'
                      example: tcpscq
                      nullable: true
                    apartment:
                      type: string
                      description: 'Must not be greater than 10 characters.'
                      example: ldzsnr
                      nullable: true
                    city:
                      type: string
                      description: 'Must not be greater than 100 characters.'
                      example: w
                    state:
                      type: string
                      description: 'Must not be greater than 100 characters.'
                      example: t
                    postal_code:
                      type: string
                      description: 'Must not be greater than 20 characters.'
                      example: ujwvlxjklqppwqbe
                      nullable: true
                    country:
                      type: string
                      description: 'Must not be greater than 100 characters.'
                      example: w
                      nullable: true
                    latitude:
                      type: number
                      description: 'Must be between -90 and 90.'
                      example: -89
                      nullable: true
                    longitude:
                      type: number
                      description: 'Must be between -180 and 180.'
                      example: -179
                      nullable: true
                  required:
                    - street
                    - city
                    - state
              required:
                - name
                - address
    parameters:
      -
        in: path
        name: donor_id
        description: 'The ID of the donor.'
        example: ded4ff7c-873b-46ac-b330-4f7c9506c21d
        required: true
        schema:
          type: string
      -
        in: path
        name: donor
        description: 'UUID del donante.'
        example: 9c1f2e3d-4b5a-6c7d-8e9f-0a1b2c3d4e5f
        required: true
        schema:
          type: string
  '/api/donors/{donor_id}/branches/{branch_id}':
    get:
      summary: 'Ver sucursal'
      operationId: verSucursal
      description: 'Retorna los datos de una sucursal específica.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - 'Sucursales de Donantes'
    put:
      summary: 'Actualizar sucursal'
      operationId: actualizarSucursal
      description: 'Actualiza los datos de una sucursal y su dirección.'
      parameters: []
      responses: {  }
      tags:
        - 'Sucursales de Donantes'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
                code:
                  type: string
                  description: 'Must not be greater than 50 characters.'
                  example: 'n'
                  nullable: true
                is_primary:
                  type: boolean
                  description: ''
                  example: true
                is_active:
                  type: boolean
                  description: ''
                  example: false
                contact_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: m
                  nullable: true
                contact_phone:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: iyvdljnikhwaykcm
                  nullable: true
                contact_email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: marquardt.noah@example.com
                  nullable: true
                contact_position:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: l
                  nullable: true
                operating_hours:
                  type: object
                  description: ''
                  example: null
                  properties: {  }
                  nullable: true
                zone:
                  type: string
                  description: '`zone` real + alias legacy `geographic_zone` (ver store). Must not be greater than 100 characters.'
                  example: v
                  nullable: true
                geographic_zone:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: q
                  nullable: true
                address:
                  type: object
                  description: 'Address fields.'
                  example: null
                  properties:
                    street:
                      type: string
                      description: 'This field is required when <code>address</code> is present. Must not be greater than 255 characters.'
                      example: w
                    street_number:
                      type: string
                      description: 'Must not be greater than 20 characters.'
                      example: rsitcpscqldzsnrw
                      nullable: true
                    number:
                      type: string
                      description: 'Must not be greater than 20 characters.'
                      example: tujwvlxjklqppwqb
                      nullable: true
                    floor:
                      type: string
                      description: 'Must not be greater than 10 characters.'
                      example: ewtnno
                      nullable: true
                    apartment:
                      type: string
                      description: 'Must not be greater than 10 characters.'
                      example: qitpxn
                      nullable: true
                    city:
                      type: string
                      description: 'This field is required when <code>address</code> is present. Must not be greater than 100 characters.'
                      example: t
                    state:
                      type: string
                      description: 'This field is required when <code>address</code> is present. Must not be greater than 100 characters.'
                      example: l
                    postal_code:
                      type: string
                      description: 'Must not be greater than 20 characters.'
                      example: tcvipojsausgiogl
                      nullable: true
                    country:
                      type: string
                      description: 'Must not be greater than 100 characters.'
                      example: r
                      nullable: true
                    latitude:
                      type: number
                      description: 'Must be between -90 and 90.'
                      example: -89
                      nullable: true
                    longitude:
                      type: number
                      description: 'Must be between -180 and 180.'
                      example: -180
                      nullable: true
                  nullable: true
    delete:
      summary: 'Eliminar sucursal'
      operationId: eliminarSucursal
      description: 'Elimina una sucursal (soft delete). No permite eliminar sucursales con mermas activas.'
      parameters: []
      responses: {  }
      tags:
        - 'Sucursales de Donantes'
    parameters:
      -
        in: path
        name: donor_id
        description: 'The ID of the donor.'
        example: ded4ff7c-873b-46ac-b330-4f7c9506c21d
        required: true
        schema:
          type: string
      -
        in: path
        name: branch_id
        description: 'The ID of the branch.'
        example: 5d3690fe-55b1-4559-9555-05f0f940067f
        required: true
        schema:
          type: string
      -
        in: path
        name: donor
        description: 'UUID del donante.'
        example: 9c1f2e3d-4b5a-6c7d-8e9f-0a1b2c3d4e5f
        required: true
        schema:
          type: string
      -
        in: path
        name: branch
        description: 'UUID de la sucursal.'
        example: 9c2a3b4c-5d6e-7f8a-9b0c-1d2e3f4a5b6c
        required: true
        schema:
          type: string
  '/api/donors/{donor_id}/branches/{branch_id}/set-primary':
    put:
      summary: 'Establecer como principal'
      operationId: establecerComoPrincipal
      description: 'Marca una sucursal como la principal del donante.'
      parameters: []
      responses: {  }
      tags:
        - 'Sucursales de Donantes'
    parameters:
      -
        in: path
        name: donor_id
        description: 'The ID of the donor.'
        example: ded4ff7c-873b-46ac-b330-4f7c9506c21d
        required: true
        schema:
          type: string
      -
        in: path
        name: branch_id
        description: 'The ID of the branch.'
        example: 5d3690fe-55b1-4559-9555-05f0f940067f
        required: true
        schema:
          type: string
      -
        in: path
        name: donor
        description: 'UUID del donante.'
        example: 9c1f2e3d-4b5a-6c7d-8e9f-0a1b2c3d4e5f
        required: true
        schema:
          type: string
      -
        in: path
        name: branch
        description: 'UUID de la sucursal.'
        example: 9c2a3b4c-5d6e-7f8a-9b0c-1d2e3f4a5b6c
        required: true
        schema:
          type: string
  /api/donor-branches:
    get:
      summary: 'Listar todas las sucursales del tenant'
      operationId: listarTodasLasSucursalesDelTenant
      description: "Listado global paginado (todas las cadenas juntas), pensado para el Mapa de\nOperaciones. Existe porque iterar `GET /donors/{donor}/branches` desde el\ncliente no escala cuando cada sucursal se modeló como donante (Tucumán: 532)."
      parameters:
        -
          in: query
          name: search
          description: 'Buscar por nombre/código de sucursal o nombre del donante.'
          example: Cipolletti
          required: false
          schema:
            type: string
            description: 'Buscar por nombre/código de sucursal o nombre del donante.'
            example: Cipolletti
        -
          in: query
          name: donor_id
          description: 'Filtrar por donante (UUID).'
          example: null
          required: false
          schema:
            type: string
            description: 'Filtrar por donante (UUID).'
            example: null
        -
          in: query
          name: is_active
          description: 'Filtrar por estado activo/inactivo.'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Filtrar por estado activo/inactivo.'
            example: true
        -
          in: query
          name: state
          description: 'Filtrar por provincia de la dirección (ilike).'
          example: Neuquén
          required: false
          schema:
            type: string
            description: 'Filtrar por provincia de la dirección (ilike).'
            example: Neuquén
        -
          in: query
          name: has_coordinates
          description: 'Solo sucursales con (o sin) lat/lng cargadas.'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Solo sucursales con (o sin) lat/lng cargadas.'
            example: true
        -
          in: query
          name: with_stats
          description: 'Incluir conteos de mermas y kg completados.'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Incluir conteos de mermas y kg completados.'
            example: true
        -
          in: query
          name: per_page
          description: 'Resultados por página (default 100, máximo 500).'
          example: 500
          required: false
          schema:
            type: integer
            description: 'Resultados por página (default 100, máximo 500).'
            example: 500
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - 'Sucursales de Donantes'
  /api/organizations:
    get:
      summary: 'Listar organizaciones'
      operationId: listarOrganizaciones
      description: 'Retorna lista paginada de organizaciones del tenant.'
      parameters:
        -
          in: query
          name: search
          description: 'Buscar por nombre o CUIT (se combina con los demás filtros).'
          example: Comedor
          required: false
          schema:
            type: string
            description: 'Buscar por nombre o CUIT (se combina con los demás filtros).'
            example: Comedor
        -
          in: query
          name: status
          description: 'Filtrar por estado; acepta varios separados por coma: pendiente, verificada, aprobada, suspendida, inactiva.'
          example: 'aprobada,pendiente'
          required: false
          schema:
            type: string
            description: 'Filtrar por estado; acepta varios separados por coma: pendiente, verificada, aprobada, suspendida, inactiva.'
            example: 'aprobada,pendiente'
        -
          in: query
          name: type
          description: 'Filtrar por tipo de organización.'
          example: comedor
          required: false
          schema:
            type: string
            description: 'Filtrar por tipo de organización.'
            example: comedor
        -
          in: query
          name: per_page
          description: 'Ítems por página (default 25, máximo 200).'
          example: 100
          required: false
          schema:
            type: integer
            description: 'Ítems por página (default 25, máximo 200).'
            example: 100
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Organizaciones
    post:
      summary: 'Crear organización'
      operationId: crearOrganizacin
      description: 'Registra una nueva organización en el sistema.'
      parameters: []
      responses: {  }
      tags:
        - Organizaciones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nombre.
                  example: 'Comedor La Esperanza'
                legal_name:
                  type: string
                  description: 'Razón social.'
                  example: 'Asoc. Civil La Esperanza'
                  nullable: true
                tax_id:
                  type: string
                  description: 'CUIT (único).'
                  example: 30-12345678-9
                  nullable: true
                organization_type:
                  type: string
                  description: 'Tipo: comedor, hogar, cocina_comunitaria, escuela o entidad_publica.'
                  example: comedor
                  nullable: true
                address:
                  type: string
                  description: Dirección.
                  example: 'Av. Siempreviva 742'
                city:
                  type: string
                  description: Ciudad.
                  example: 'La Plata'
                  nullable: true
                state:
                  type: string
                  description: Provincia.
                  example: 'Buenos Aires'
                  nullable: true
                phone:
                  type: string
                  description: Teléfono.
                  example: 221-555-0000
                  nullable: true
                email:
                  type: string
                  description: Email.
                  example: contacto@laesperanza.org
                  nullable: true
                contact_person:
                  type: string
                  description: 'Persona de contacto (crea el contacto primario).'
                  example: 'María Pérez'
                  nullable: true
                contact_phone:
                  type: string
                  description: 'Teléfono de contacto.'
                  example: 221-555-1111
                  nullable: true
                contact_dni:
                  type: string
                  description: 'Must match the regex /^\d{7,8}$/. Must not be greater than 20 characters.'
                  example: nikhwaykcmyuwpwl
                  nullable: true
                service_count:
                  type: integer
                  description: 'Cantidad de servicios/comidas.'
                  example: 120
                  nullable: true
                description:
                  type: string
                  description: Descripción.
                  example: null
                  nullable: true
                total_beneficiaries:
                  type: integer
                  description: 'Total de beneficiarios.'
                  example: 300
                  nullable: true
                declared_families:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 42
                  nullable: true
                has_refrigeration:
                  type: boolean
                  description: 'Tiene refrigeración.'
                  example: true
                  nullable: true
                has_own_vehicle:
                  type: boolean
                  description: 'Tiene vehículo propio.'
                  example: false
                  nullable: true
                vehicle_capacity_kg:
                  type: number
                  description: 'Must be at least 0.'
                  example: 52
                  nullable: true
                pickup_preference:
                  type: string
                  description: 'Preferencia: pickup o delivery.'
                  example: pickup
                  nullable: true
                preferred_pickup_days:
                  type: array
                  description: ''
                  example:
                    - viernes
                  items:
                    type: string
                    enum:
                      - lunes
                      - martes
                      - miercoles
                      - jueves
                      - viernes
                      - sabado
                preferred_pickup_time_start:
                  type: string
                  description: 'Must be a valid date in the format <code>H:i,H:i:s</code>.'
                  example: '09:32,09:32:07'
                  nullable: true
                preferred_pickup_time_end:
                  type: string
                  description: 'Must be a valid date in the format <code>H:i,H:i:s</code>.'
                  example: '09:32,09:32:07'
                  nullable: true
                special_requirements:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
                notes:
                  type: string
                  description: Notas.
                  example: null
                  nullable: true
              required:
                - name
                - address
  /api/organizations/stats:
    get:
      summary: 'Estadísticas del listado de organizaciones'
      operationId: estadsticasDelListadoDeOrganizaciones
      description: "Totales agregados sobre TODAS las organizaciones del tenant (no solo la\npágina actual): total, pendientes, aprobadas, beneficiarios, y el total\nexacto de raciones (comidas) del mes calendario en curso."
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: '{"success":true,"data":{"total":120,"pendientes":8,"aprobadas":95,"beneficiarios":15300,"monthly_meals":40200,"month_label":"agosto 2026"}} Si el tenant no puede resolverse (API key sin contexto), todos los agregados vuelven en 0.'
      tags:
        - Organizaciones
  '/api/organizations/{organization_id}':
    get:
      summary: 'Ver organización'
      operationId: verOrganizacin
      description: 'Retorna los datos de una organización con dirección, contactos y demografía.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Organizaciones
    delete:
      summary: 'Eliminar organización'
      operationId: eliminarOrganizacin
      description: 'Elimina una organización (soft delete). No permite eliminar con pedidos asociados.'
      parameters: []
      responses: {  }
      tags:
        - Organizaciones
    put:
      summary: 'Actualizar organización'
      operationId: actualizarOrganizacin
      description: 'Actualiza los datos de una organización existente.'
      parameters: []
      responses: {  }
      tags:
        - Organizaciones
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
                legal_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'n'
                  nullable: true
                tax_id:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: gzmiyvdljnikhway
                  nullable: true
                organization_type:
                  type: string
                  description: ''
                  example: cocina_comunitaria
                  enum:
                    - comedor
                    - hogar
                    - cocina_comunitaria
                    - escuela
                    - entidad_publica
                  nullable: true
                address:
                  type: string
                  description: ''
                  example: architecto
                city:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: 'n'
                  nullable: true
                state:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: g
                  nullable: true
                phone:
                  type: string
                  description: 'Must not be greater than 50 characters.'
                  example: z
                  nullable: true
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: rempel.chadrick@example.org
                  nullable: true
                contact_person:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: l
                  nullable: true
                contact_phone:
                  type: string
                  description: 'Must not be greater than 50 characters.'
                  example: j
                  nullable: true
                service_count:
                  type: integer
                  description: 'Must be at least 1.'
                  example: 2
                  nullable: true
                description:
                  type: string
                  description: ''
                  example: 'Eius et animi quos velit et.'
                  nullable: true
                total_beneficiaries:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 60
                  nullable: true
                declared_families:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 42
                  nullable: true
                has_refrigeration:
                  type: boolean
                  description: ''
                  example: false
                  nullable: true
                has_own_vehicle:
                  type: boolean
                  description: ''
                  example: false
                  nullable: true
                vehicle_capacity_kg:
                  type: number
                  description: 'Must be at least 0.'
                  example: 52
                  nullable: true
                pickup_preference:
                  type: string
                  description: ''
                  example: pickup
                  enum:
                    - pickup
                    - delivery
                  nullable: true
                preferred_pickup_days:
                  type: array
                  description: ''
                  example:
                    - viernes
                  items:
                    type: string
                    enum:
                      - lunes
                      - martes
                      - miercoles
                      - jueves
                      - viernes
                      - sabado
                preferred_pickup_time_start:
                  type: string
                  description: 'Must be a valid date in the format <code>H:i,H:i:s</code>.'
                  example: '09:32,09:32:07'
                  nullable: true
                preferred_pickup_time_end:
                  type: string
                  description: 'Must be a valid date in the format <code>H:i,H:i:s</code>.'
                  example: '09:32,09:32:07'
                  nullable: true
                special_requirements:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
                notes:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
                contacts:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: object
                    nullable: true
                    properties:
                      name:
                        type: string
                        description: 'This field is required when <code>contacts</code> is present. Must not be greater than 255 characters.'
                        example: 'n'
                      position:
                        type: string
                        description: 'Must not be greater than 100 characters.'
                        example: g
                        nullable: true
                      phone:
                        type: string
                        description: 'Must not be greater than 50 characters.'
                        example: z
                        nullable: true
                      email:
                        type: string
                        description: 'Must be a valid email address. Must not be greater than 255 characters.'
                        example: rempel.chadrick@example.org
                        nullable: true
                      dni:
                        type: string
                        description: 'Must match the regex /^\d{7,8}$/. Must not be greater than 20 characters.'
                        example: ljnikhwaykcmyuwp
                        nullable: true
                      is_primary:
                        type: boolean
                        description: ''
                        example: true
                        nullable: true
    parameters:
      -
        in: path
        name: organization_id
        description: 'The ID of the organization.'
        example: 05a05274-f925-4c24-8440-087077c28d97
        required: true
        schema:
          type: string
      -
        in: path
        name: organization
        description: 'UUID de la organización.'
        example: 9c1f2e3d-4b5a-6c7d-8e9f-0a1b2c3d4e5f
        required: true
        schema:
          type: string
  '/api/organizations/{organization_id}/documents':
    get:
      summary: 'Listar documentos'
      operationId: listarDocumentos
      description: 'Retorna los documentos asociados a una organización.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Organizaciones
    post:
      summary: 'Subir documento'
      operationId: subirDocumento
      description: 'Sube un documento asociado a una organización.'
      parameters: []
      responses: {  }
      tags:
        - Organizaciones
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                document:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 10240 kilobytes.'
                document_type:
                  type: string
                  description: ''
                  example: inscripcion_renspa
                  enum:
                    - personeria_juridica
                    - estatuto
                    - acta_designacion
                    - cuit
                    - habilitacion
                    - inscripcion_renspa
                    - bromatologia
                    - bomberos
                    - seguro
                    - foto_instalaciones
                    - otro
                document_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'n'
                expires_at:
                  type: string
                  description: 'Must be a valid date. Must be a date after <code>today</code>.'
                  example: '2052-10-17'
                  nullable: true
              required:
                - document
                - document_type
    parameters:
      -
        in: path
        name: organization_id
        description: 'The ID of the organization.'
        example: 05a05274-f925-4c24-8440-087077c28d97
        required: true
        schema:
          type: string
      -
        in: path
        name: organization
        description: 'UUID de la organización.'
        example: 9c1f2e3d-4b5a-6c7d-8e9f-0a1b2c3d4e5f
        required: true
        schema:
          type: string
  '/api/organizations/{organization_id}/requirements':
    get:
      summary: 'Listar requerimientos de documentos con estado'
      operationId: listarRequerimientosDeDocumentosConEstado
      description: 'Retorna los requerimientos resueltos (global + tipo + org) con su estado actual.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Organizaciones
    post:
      summary: 'Agregar requerimiento puntual a una organización'
      operationId: agregarRequerimientoPuntualAUnaOrganizacin
      description: 'Solo crea requerimientos per-org (no globales ni por tipo).'
      parameters: []
      responses: {  }
      tags:
        - Organizaciones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                document_type:
                  type: string
                  description: ''
                  example: inscripcion_renspa
                  enum:
                    - personeria_juridica
                    - estatuto
                    - acta_designacion
                    - cuit
                    - habilitacion
                    - inscripcion_renspa
                    - bromatologia
                    - bomberos
                    - seguro
                    - foto_instalaciones
                    - otro
                label:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'n'
                is_required:
                  type: boolean
                  description: ''
                  example: true
                has_expiration:
                  type: boolean
                  description: ''
                  example: false
                notes:
                  type: string
                  description: 'Must not be greater than 1000 characters.'
                  example: m
                  nullable: true
              required:
                - document_type
                - label
    parameters:
      -
        in: path
        name: organization_id
        description: 'The ID of the organization.'
        example: 05a05274-f925-4c24-8440-087077c28d97
        required: true
        schema:
          type: string
      -
        in: path
        name: organization
        description: 'UUID de la organización.'
        example: architecto
        required: true
        schema:
          type: string
  '/api/organizations/{organization_id}/contacts':
    get:
      summary: 'Listar contactos (referentes) de una organización'
      operationId: listarContactosreferentesDeUnaOrganizacin
      description: "Devuelve id, name, position, phone, email, dni e is_primary, ordenados\ncon el primario primero."
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Organizaciones
    post:
      summary: 'Agregar contacto (referente) a una organización'
      operationId: agregarContactoreferenteAUnaOrganizacin
      description: "Reglas de primario: si la organización no tiene ninguno, el contacto se\nfuerza a primario; si se envía is_primary=true, se desmarca al resto\n(transaccional)."
      parameters: []
      responses: {  }
      tags:
        - Organizaciones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nombre.
                  example: 'María Pérez'
                position:
                  type: string
                  description: Cargo.
                  example: null
                  nullable: true
                phone:
                  type: string
                  description: Teléfono.
                  example: null
                  nullable: true
                email:
                  type: string
                  description: Email.
                  example: null
                  nullable: true
                dni:
                  type: string
                  description: 'DNI del referente (este CRUD no valida formato; los FormRequests de organización exigen 7-8 dígitos).'
                  example: null
                  nullable: true
                is_primary:
                  type: boolean
                  description: 'Marcar como primario.'
                  example: false
                pickup_authorized:
                  type: boolean
                  description: 'Además del contacto, deja cargada su autorización de retiro (ficha 3054). Exige `dni`.'
                  example: true
                pickup_scope_type:
                  type: string
                  description: 'Alcance de esa autorización: all (default), donor, donor_zone, branch.'
                  example: all
                pickup_scope_ref:
                  type: string
                  description: 'Id del donante, la zona o la sucursal. Obligatorio salvo en `all`.'
                  example: null
                  nullable: true
                pickup_valid_from:
                  type: date
                  description: 'Vigencia desde.'
                  example: null
                  nullable: true
                pickup_valid_until:
                  type: date
                  description: 'Vigencia hasta.'
                  example: null
                  nullable: true
              required:
                - name
    parameters:
      -
        in: path
        name: organization_id
        description: 'The ID of the organization.'
        example: 05a05274-f925-4c24-8440-087077c28d97
        required: true
        schema:
          type: string
      -
        in: path
        name: organization
        description: 'UUID de la organización.'
        example: null
        required: true
        schema:
          type: string
  '/api/organizations/{organization_id}/logistics':
    get:
      summary: 'Devuelve el registro de capacidad logística de la organización (o null).'
      operationId: devuelveElRegistroDeCapacidadLogsticaDeLaOrganizacinoNull
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Organizaciones
    put:
      summary: 'Crea o actualiza el registro de capacidad logística.'
      operationId: creaOActualizaElRegistroDeCapacidadLogstica
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Organizaciones
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                cold_capacity_m3:
                  type: number
                  description: 'Must be at least 0. Must not be greater than 999999.99.'
                  example: 1
                  nullable: true
                cold_capacity_type:
                  type: string
                  description: ''
                  example: ninguna
                  enum:
                    - camara_frigorifica
                    - freezer
                    - heladera
                    - ninguna
                  nullable: true
                own_transport_capable:
                  type: boolean
                  description: ''
                  example: true
                  nullable: true
                transport_vehicle_type:
                  type: string
                  description: ''
                  example: camioneta
                  enum:
                    - camion
                    - camioneta
                    - moto
                    - otro
                  nullable: true
                transport_notes:
                  type: string
                  description: 'Must not be greater than 2000 characters.'
                  example: m
                  nullable: true
                operational_contact_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: i
                  nullable: true
                operational_contact_phone:
                  type: string
                  description: 'Must not be greater than 50 characters.'
                  example: 'y'
                  nullable: true
                operational_contact_email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: justina.gaylord@example.org
                  nullable: true
    parameters:
      -
        in: path
        name: organization_id
        description: 'The ID of the organization.'
        example: 05a05274-f925-4c24-8440-087077c28d97
        required: true
        schema:
          type: string
  '/api/organizations/{organization_id}/operational-stats':
    get:
      summary: 'Devuelve métricas operativas calculadas en tiempo real (sin leer counters persistidos).'
      operationId: devuelveMtricasOperativasCalculadasEnTiempoRealsinLeerCountersPersistidos
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Organizaciones
    parameters:
      -
        in: path
        name: organization_id
        description: 'The ID of the organization.'
        example: 05a05274-f925-4c24-8440-087077c28d97
        required: true
        schema:
          type: string
  '/api/organizations/{organization_id}/collection-commitments':
    get:
      summary: 'Compromisos de recolección de la organización'
      operationId: compromisosDeRecoleccinDeLaOrganizacin
      description: "Resumen de los compromisos de la organización en jornadas de recolección\n(programas con program_type='recoleccion') para un año dado. Útil para\nver el historial de ausencias y el cumplimiento."
      parameters:
        -
          in: query
          name: year
          description: 'Año a consultar. Default: año actual.'
          example: 2025
          required: false
          schema:
            type: integer
            description: 'Año a consultar. Default: año actual.'
            example: 2025
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'No autenticado'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'No autenticado'
      tags:
        - Organizaciones
    parameters:
      -
        in: path
        name: organization_id
        description: 'The ID of the organization.'
        example: 05a05274-f925-4c24-8440-087077c28d97
        required: true
        schema:
          type: string
      -
        in: path
        name: organization
        description: 'UUID de la organización.'
        example: 9c1f2e3d-4b5a-6c7d-8e9f-0a1b2c3d4e5f
        required: true
        schema:
          type: string
  '/api/organizations/{organization_id}/volunteer-stats':
    get:
      summary: 'Estadísticas de voluntariado de la organización'
      operationId: estadsticasDeVoluntariadoDeLaOrganizacin
      description: "Resumen de voluntariado aportado por esta organización (recolección + eventos),\nigual que /donors/{donor}/volunteer-stats."
      parameters:
        -
          in: query
          name: year
          description: 'Año (2000-2100, default: año actual).'
          example: 2026
          required: false
          schema:
            type: integer
            description: 'Año (2000-2100, default: año actual).'
            example: 2026
      responses:
        401:
          description: ''
          content:
[...]
